# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/

# IDE
.idea/
.vscode/
*.iml

# Backend
backend/node_modules/
backend/*.db
backend/*.json
!backend/products.json

# OS
.DS_Store
